body{
  background-attachment: fixed;
  background-image: url('../images/bgs.png');
  background-size: cover;background-position: center;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #42A5F5;
  border-radius: 25px;
}
::-webkit-scrollbar-thumb:hover {
  background: blue;
}
.book-list:hover{
  cursor: pointer;
  width: 98%;
  transition: 0.3s ease;
}
.book-list:hover .konten{
  padding-left: 10px;
}
.sidelist:hover{
  background-color: #f8f8f8;
}
.upload-btn-wrapper-cstm {
  position: relative;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
}
.btn-cstm {
  border: 2px solid red;
  color: red;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.upload-btn-wrapper-cstm:hover .btn-cstm {
  border: 2px solid red;
  color: white;
  background-color: red;
  cursor: pointer;
}
.upload-btn-wrapper-cstm input[type=file] {
  font-size: 100px;
  position: absolute;
  cursor: pointer;
  left: 0;
  top: 0;
  opacity: 0;
}